name: Deploy to production

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r scripts/requirements.txt
    - name: Update the remote_data_prefix
      uses: fjogeleit/yaml-update-action@master
      with:
        valueFile: 'config_data.yml'
        propertyPath: 'docs_baseurl'
        value: '/data-production'
        commitChange: 'false'
        updateFile: 'true'
    - name: Build data
      run: |
        python scripts/build_data.py
        python scripts/export-dsd.py
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        REPOSITORY_NAME: sdg-laos/data-production
        ACCESS_TOKEN: ${{ secrets.token }}
        BRANCH: main
        FOLDER: _site
        CLEAN: true
    - name: Waiting 4 minutes for live data deployment
      run: |
        sleep 240
    - name: Rebuild live site
      run: |
        curl -X POST https://api.github.com/repos/sdg-laos/site/dispatches \
        -H "Accept: application/vnd.github.everest-preview+json" \
        -H "Authorization: token ${{ secrets.token }}" \
        --data '{"event_type": "rebuild-live"}'
