name: Test PRs

on: [pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          do_not_test:
            - 'meta/**'
            - 'translations/**'
    - uses: batista/lint-filenames@v1
      name: Validating metadata filenames
      with:
        path: './meta'
        pattern: '^[0-9a-z]*-[0-9a-z]*-[0-9a-z]*(-[0-9a-z]*)?\.docm$'
    - uses: batista/lint-filenames@v1
      name: Validating SDMX filenames
      with:
        path: './data'
        pattern: '^.*\.xml$'
    - uses: batista/lint-filenames@v1
      name: Validating indicator configuration filenames
      with:
        path: './indicator-config'
        pattern: '^[0-9a-z]*-[0-9a-z]*-[0-9a-z]*(-[0-9a-z]*)?\.yml$'
    - if: steps.filter.outputs.do_not_test == 'false'
      name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - if: steps.filter.outputs.do_not_test == 'false'
      name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r scripts/requirements.txt
    - if: steps.filter.outputs.do_not_test == 'false'
      name: Test and build data
      run: |
        python scripts/check_data.py
        python scripts/build_data.py
